<li><a href="/colors" <%= title === 'colors' ? 'aria-current=page' : '' %>>Colors</a></li>
<li><a href="/typography" <%= title === 'typography' ? 'aria-current=page' : '' %>>Typo&shy;graphy</a></li>
<li><a href="/spacing" <%= title === 'spacing' ? 'aria-current=page' : '' %>>Spacing</a></li>
<li><a href="/compositions" <%= title === 'compositions' ? 'aria-current=page' : '' %>>Compo&shy;sitions</a></li>
<li><a href="/utilities" <%= title === 'utilities' ? 'aria-current=page' : '' %>>Utilities</a></li>